<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <classes>
		  <class name="TestCasePackage.Post_TestClass1"/>
		  <class name="TestCasePackage.Post_TestClass2"/>
		  <class name="TestCasePackage.Post_TestClass3"/>
		  <class name="TestCasePackage.Post_TestClass4"/>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
